/*   .adminView {
    display: flex;
    justify-content: space-evenly;
  }

  .userMain {
    background-color: rgb(49, 49, 49);
    padding-right: 25%;
  }

  .userPanel h1 {
    margin-top: 25%;
  }

  .property-filter {
    width: 25%;
  } */

