.registroTitulo {
  background-image: url(/imgregistro.jpg);
  background-color: rgb(25, 42, 61);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  max-height: 90vh;
  padding: 5%;
  text-align: center;
  align-items: center;
}

.registroTitulo h1 {
  color: white;
  background-color: rgba(29, 29, 29, 0.5);
  padding: 1%;
  border-radius: 10px;
}

.formulario2 {
  text-align: end;
  width: 50%;
  margin-left: 30%;
}