.registro {
  display: flex;
  background-image: url(/imgsesion.jpg);
  background-color: rgb(25, 42, 61);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 70vh;
  padding: 10%;
  text-align: center;
  align-items: center;
}

.registro h1 {
  margin-left: 25%;
  margin-bottom: 40%;
  color: white;
  background-color: rgba(29, 29, 29, 0.5);
}

.formulario1 {
  text-align: end;
  width: 50%;
}