.cartContainer {
    background-color: rgba(204, 204, 204, 0.247);
}

.cartTitle h2 {
color: black;
text-align: center;
padding: 2%;
}

.cartDetail {
    min-height: 70vh;
    width: 60%;
    margin-top: 5%;
    margin-left: 20%;
}

.cartDetail ul {
    background-color: rgba(238, 236, 191, 0.842);
    align-items: center;
    width: 60%;
    margin: 10px 10%;
}

.cartDetail li {
    display: flex;
    align-items: center;
    margin-top: 10px;
    gap: 40px;
}

.cartDetail li img {
    width: 100px;
    margin: 10px 10px 10px 20px
}

.cartFooter {
 padding: 5%;
 text-align: end;
}