.Footer {
    background-color: rgb(51, 60, 68);
    min-height: 25vh;
    color: white;
    text-align: center;
}

.Footer h2 {
    padding-top: 20px;
}

.mainFooter {
  display: flex;
}

.linkFooter {
    text-align: start;
    width: 20%;
    margin-left: 10%;
}

.linkFooter li {
    margin-top: 15px;
}

.linkFooter a {
    color: white;
    text-decoration: none;
    font-weight: 500;
}

.logoFooter img {
    width: 15%;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.8));
    margin-left: 10%;
}

.contacto {
    text-align: end;
    margin-right: 10%;
    width: 30%;
}