.userMain {
    background-image: url(/imgregistro.jpg);
    background-size: contain;
    background-position: center;
    background-repeat: space;
    background-color: rgb(25, 42, 61);
    min-height: 90vh;
    display: flex;
}

.userPanel {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 10%;
    position: relative;
    display: grid;
    flex-direction: column;
    justify-content: space-evenly;
}

.userPanel h1 {
    color: white;
    margin-left: 5px;
}

.userPanel article {
    display: flex;
    flex-direction: column;
}

.userPanel .options {
    color: white;
    text-align: center;
    border: solid;
    border-radius: 5px;
    margin-top: 50px;
}

