.mainNav {
    min-height: 10vh;
    position: sticky;
    top: 0;
    width: 100%;
    background-color: #ffffff;
    color: white;
    z-index: 100;
}

.logoHome {
    margin-left: 20%;
}

.logoNav {
    width: 30%;
}

.btnIniciar {
    margin-right: 20px;
}