.cardSample {
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.6));
  margin-top: 5%;
  max-height: 35rem;
}

.card-img-top {
  height: 20rem;
  object-fit: cover;
}

.card-body {
  background-color: rgb(255, 255, 255);
}

.property-details {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}

.detail-item {
  display: flex;
  align-items: center;
}

.detail-item span {
  margin-left: 0.5rem;
}