.card-full {
    display: flex;
    justify-content: center;
    padding: 20px;
  }
  
  .card-detail {
    border-radius: 20px;
    width: 40%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

  }
  
  .main-image img {
    width: 100%;
    min-height: 30rem;
    max-height: 30rem;
    border-radius: 20px;
  }
   
  .card-body {
    padding: 20px;
  }
  
  .card-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .price {
    font-size: 1.2rem;
    color: #ff4500;
    margin: 10px 0;
  }
  
  .buy-button {
    background-color: #ff4500;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .buy-button:hover {
    background-color: #e63e00;
  }
  
  .card-body ul {
    list-style: none;
    padding: 0;
  }
  
  .card-body li {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
  }
  
  .card-body .fa-bed,
  .card-body .fa-bath {
    margin-right: 0.5rem;
  }