.userMain {
    background-image: url('https://imagizer.imageshack.com/img924/5199/b6yMzp.jpg');
    background-size:contain;
    background-position:center;
    background-repeat: no-repeat;
    background-color: rgb(25, 42, 61);
    min-height: 90vh;
    display: flex;
}

.userPanel {
    background-color: rgba(255, 64, 64, 0.6);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.userPanel h1 {
    color: white;
    margin-left: 5px;
}

.userPanel article {
    display: flex;
    flex-direction: column;
}

.userPanel .options {
    color: white;
    text-align: center;
    border: solid;
    border-radius: 5px;
    margin-top: 10px;
    font-weight: 500;
}

.userPanel {
    padding: 20px;
}
  
  .property-list {
    list-style-type: none;
    padding: 0;
  }
  
  .property-item {
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ddd;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .property-item:hover {
    background-color: #f0f0f0;
  }
  
  h2 {
    color: white;
  }